{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn..com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel = "stylesheet" herf="{% static 'css/common.css' %}">
        <title>Tutorial</title>
    </head>
    <body>
        {% block content %}
        <!-- 子テンプレートの内容がIncludeされる -->
        {% endblock %}
        <!-- bootstrapのjavascrit読み込み-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </body>
</html>